<h1>User List</h1>

<ul class="posts">
  <% @users.each do |user| %>
      <li class="user">
        <h2><%= user.username %></h2><%= user.email %>
      </li>
  <% end %>
</ul>

<%= link_to("Home", root_path) %>