
<div class="user-show">
<h2>Username</h2>
<%= @user.username %>
</div>

<div class="user-show">
<h2>Email</h2>
<%= @user.email %>
</div>

<div class="user-show">
<h2>Password</h2>
<%= @user.password %>
</div>

<div class="link-options">
<br />
	<%= link_to "Home", root_path %>
</div>
