<br />
<%if current_user%>
	<%= link_to("New Post", posts_new_path) %>
<%end%>

<h1>Forgeddit</h1>

<ul class="posts">
  <% @posts.each do |post| %>
      <li class="post">
        <h2><%= link_to("#{post.title}", "http://#{post.url}", :target => "_blank") %></h2>
      </li>
      <li>Submited <%= time_ago_in_words(post.created_at) %> by author</li>
      <li><%= link_to "Comments go here", posts_path(post) %></li>
  <% end %>
</ul>